.step-form {
  position: relative;
  max-width: 658px;
  height: 98px;
  z-index: $z-index-form;

  & > .step-form__step {
    &:nth-child(1) {
      max-width: 320px;
    }

    &:nth-child(2) {
      max-width: 320px;
    }

    &:nth-child(3) {
      margin-top: 16px;
    }
  }

  & > .step-form__step-group {
    margin-top: 16px;
  }

  @media (max-width: $screen-sm) {
    max-width: 100%;
    height: 86px;

    & > .step-form__step {
      &:nth-child(1) {
        max-width: 268px;
      }

      &:nth-child(2) {
        max-width: 100%;
      }
    }
  }
}

.step-form__step {
  position: relative;
  background-color: $color-secondary;
  border-radius: 134px;
  opacity: 0;
}

.step-form__refresh {
  @include button-reset;

  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 130%;
  color: $color-main;
  opacity: 0.5;

  & > .step-form__refresh-text {
    text-decoration: underline;
  }

  & > .icon.icon-refresh {
    margin-left: 8px;
  }
}

.step-form__error {
  position: relative;
  padding: 36px 44px;
  background-color: $color-secondary;
  border-radius: 50px;
  opacity: 0;

  @media (max-width: $screen-sm) {
    padding: 28px 32px;
  }
}

.step-form__error-text {
  font-size: 22px;
  line-height: 130%;
  color: $color-white;

  @media (max-width: $screen-sm) {
    font-size: 18px;
  }
}

.step-form__error-refresh {
  @include button-reset;

  display: inline-block;
  font-size: 22px;
  line-height: 130%;
  color: $color-white;
  text-decoration: underline;
  opacity: 1;

  @media (max-width: $screen-sm) {
    font-size: 18px;
  }
}

.step-form__success {
  position: relative;
  opacity: 0;
}

.step-form__success-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 44px;
  background-color: $color-secondary;
  border-radius: 50px;

  & .icon.icon-done {
    flex-shrink: 0;
  }

  @media (max-width: $screen-sm) {
    padding: 28px 32px;

    & .icon.icon-done {
      width: 20px;
      height: 16px;
    }
  }
}

.step-form__success-refresh {
  margin-left: auto;
  padding: 20px 44px;
}

.step-form__success-text {
  max-width: 430px;
  font-size: 32px;
  line-height: 130%;
  color: $color-white;

  @media (max-width: $screen-sm) {
    font-size: 20px;
  }
}

.step-form-button {
  @include button-reset;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 98px;
  padding: 0 44px 0 41px;
  font-size: 22px;
  line-height: 130%;
  font-weight: 500;
  letter-spacing: -0.05em;
  border-radius: 134px;
  background-color: $color-secondary;
  text-align: left;
  color: $color-white;
  z-index: 2;

  & > .icon.icon-arrow-right {
    margin-left: 20px;
  }

  & > .icon.icon-arrow-right,
  & > .icon.icon-arrow-left {
    flex-shrink: 0;
    width: 28px;
    height: 20px;
  }

  @media (max-width: $screen-md) {
    height: 86px;
    padding: 0 34px 0 31px;
  }

  @media (max-width: $screen-sm) {
    padding: 0 32px 0 29px;
    font-size: 18px;
    letter-spacing: -.05em;

    & > .icon.icon-arrow-right,
    & > .icon.icon-arrow-left {
      flex-shrink: 0;
      width: 25px;
      height: 18px;
    }
  }
}

.step-form__next {
  @include button-reset;

  font-size: 22px;
  line-height: 130%;
  color: $color-white;
  cursor: pointer;

  & span.text {
    text-decoration: underline;
  }

  & .icon.icon-arrow-right {
    width: 28px;
    height: 20px;
  }

  &--with-text .icon.icon-arrow-right {
    margin-left: 8px;
  }

  &[disabled] {
    opacity: 0.3;

    & span.text {
      text-decoration: none;
    }
  }

  @media (max-width: $screen-sm) {
    font-size: 16px;

    & .icon.icon-arrow-right {
      width: 20px;
      height: 14px;
    }
  }
}

.step-form__right {
  position: absolute;
  top: 14px;
  right: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;

  @media (max-width: $screen-sm) {
    right: 30px;
  }
}

.step-form__done {
  display: none;

  @media (max-width: $screen-sm) {
    & .icon.icon-done {
      width: 20px;
      height: 16px;
    }
  }
}

.step-form__counter {
  position: absolute;
  top: 12px;
  right: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: normal;
  border: 1.5px solid $color-white;
  border-radius: 50%;
  color: $color-white;
  opacity: 0.3;
  transition: opacity $transition-duration ease-in-out;

  @media (max-width: $screen-sm) {
    width: 48px;
    height: 48px;
    font-size: 12px;
  }
}

.step-form__step.step-form__step--fullfilled .step-form__counter {
  opacity: 1;
}

.step-form__step--done {
  background-color: $color-main;

  & input {
    pointer-events: none;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active,
    &:-internal-autofill-selected {
      background-color: $color-main !important;
      background-image: none !important;
      box-shadow: 0 0 0 50px $color-main inset;
      -webkit-box-shadow: 0 0 0 50px $color-main inset;
      -webkit-text-fill-color: $color-white !important;
      caret-color: $color-white;
      color: $color-white !important;
    }
  }

  .step-form__next {
    display: none;
  }

  .step-form__counter {
    display: none;
  }

  .step-form__done {
    display: flex;
    align-items: center;
  }
}

.step-form__edit {
  @include button-reset;

  padding: 20px;
  font-size: 14px;
  line-height: 130%;
  color: rgba($color-muted, 0.4);

  @media (max-width: $screen-sm) {
    position: absolute;
    top: -4px;
    right: 20px;
    padding: 10px;
  }
}

.step-form__right > .step-form__next {
  padding: 20px;
  margin-right: -20px;
}

.step-form__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.step-form__input-label {
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 130%;
  color: $color-white;

  @media (max-width: $screen-sm) {
    margin-bottom: 8px;
    font-size: 12px;
  }
}

.step-form__input-input {
  @include input-reset;

  font-size: 22px;
  line-height: 130%;
  letter-spacing: -0.05em;
  color: $color-white;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active,
  &:-internal-autofill-selected {
    background-color: $color-secondary !important;
    background-image: none !important;
    box-shadow: 0 0 0 50px $color-secondary inset;
    -webkit-box-shadow: 0 0 0 50px $color-secondary inset;
    -webkit-text-fill-color: $color-white !important;
    caret-color: $color-white;
    color: $color-white !important;
  }

  &::placeholder {
    color: rgba(#F1F1EC, 0.3);
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: rgba(#F1F1EC, 0.3);
  }

  &::-ms-input-placeholder {
    color: rgba(#F1F1EC, 0.3);
  }

  @media (max-width: $screen-sm) {
    font-size: 16px;
  }
}

.step-form__step--address {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 130px 0 41px;
  border-radius: 134px;

  @media (max-width: $screen-sm) {
    padding: 0 89px 0 32px;
  }
}

.step-form__input-address {
  height: 100%;

  &.disabled .icon.icon-arrow-right {
    opacity: 0.3;
  }
}

.step-form__step--info {
  padding: 36px 44px 44px;
  border-radius: 50px;

  @media (max-width: $screen-sm) {
    padding: 28px 32px 32px;
  }
}

.step-form__input--info {
  margin-bottom: 28px;

  @media (max-width: $screen-sm) {
    margin-bottom: 24px;
  }
}

.step-form__step--info.step-form__step--done .step-form__input--info {
  &:nth-child(3) {
    margin-bottom: 0;
  }
}

.step-form__step--poll {
  padding: 36px 44px 4px;
  border-radius: 50px;

  @media (max-width: $screen-sm) {
    padding: 28px 32px 4px;
  }
}

.step-form__radio--poll {
  display: flex;
  margin-bottom: 32px;

  @media (max-width: $screen-sm) {
    margin-bottom: 24px;
  }
}

.step-form__bottom {
  display: flex;
  align-items: flex-end;
  height: 0;
  opacity: 0;
  transition: height $transition-duration ease-in-out, opacity $transition-duration ease;
}

.step-form__see {
  display: flex;
  margin-left: auto;
  background-color: $color-main;

  @media (max-width: $screen-sm) {
    max-width: 268px;
  }
}

.step-form__step--poll.step-form__step--fullfilled .step-form__bottom {
  height: calc(96px + 32px);
  margin-bottom: 32px;
  opacity: 1;

  @media (max-width: $screen-sm) {
    height: calc(86px + 19px);
    margin-bottom: 24px;
  }
}

.step-form__step-group {
  position: relative;

  & .step-form__step,
  & .step-form__error,
  & .step-form__success {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.step-form__step--receive {
  padding: 36px 44px;
  border-radius: 50px;

  .step-form-button {
    display: flex;
    width: calc(50% - 16px);
    background-color: $color-main;
  }

  @media (max-width: $screen-sm) {
    padding: 28px 32px 32px;

    .step-form__receive-row {
      flex-direction: column;
      margin-top: 28px;

      & > .step-form-button {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
}

.step-form__receive {
  font-size: 18px;
  line-height: 150%;
  color: $color-white;

  @media (max-width: $screen-sm) {
    & + & {
      margin-top: 14px;
    }
  }
}

.step-form__receive-row {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}

.step-form__step--book {
  padding: 36px 44px;
  border-radius: 50px;

  .step-form-button {
    display: flex;
    width: calc(50% - 16px);
    background-color: $color-main;
  }

  .step-form-button--back {
    justify-content: flex-start;
    padding: 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 130%;
    color: rgba($color-white, 0.4);

    & > .icon.icon-arrow-left {
      margin-right: 12px;
    }
  }

  @media (max-width: $screen-sm) {
    padding: 28px 32px;

    .step-form-button {
      &:nth-child(2) {
        width: 80%;
      }
    }

    .step-form-button--back {
      flex-direction: column-reverse;
      align-items: flex-start;
      padding: 24px 0;

      & > .icon.icon-arrow-left {
        margin-right: 0;
        margin-top: 11px;
      }
    }
  }
}
