.hero {
  padding-top: 116px;
  padding-bottom: 31px;

  @media (max-width: $screen-sm) {
    padding-top: 39px;
    padding-bottom: 67px;
  }
}

.hero__title {
  margin-bottom: 52px;
  font-size: 146px;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -0.07em;

  @media (max-width: $screen-sm) {
    margin-bottom: 38px;
    font-size: 67px;
    line-height: 98%;
    letter-spacing: -0.06em;
  }
}

.hero__title--italic {
  font-family: $font-secondary;
  white-space: nowrap;
  font-weight: 400;
  font-style: italic;
}

.hero__notice {
  max-width: 680px;
  margin-bottom: 156px;

  @media (max-width: $screen-sm) {
    max-width: 325px;
    margin-bottom: 80px;
  }
}

.button-submit {
  & > .icon-arrow-right {
    margin-left: 20px;
  }

  @media (max-width: $screen-sm) {
    & > .icon-arrow-right {
      width: 27px;
      height: 20px;
    }
  }
}

.section-ill-1 {
  overflow: hidden;
}

.ill-1-container {
  position: relative;
  right: -50%;
  display: inline-block;

  img {
    position: relative;
    left: -50%;
    max-width: 100%;
    mix-blend-mode: darken;
  }

  @media (max-width: $screen-sm) {
    img {
      width: auto;
      height: 400px;
    }
  }
}

.section-features {
  padding-top: 189px;
  padding-bottom: 76px;
  overflow: hidden;

  @media (max-width: $screen-sm) {
    padding-top: 82px;
    padding-bottom: 36px;
  }
}

.features__item {
  &:last-child {
    .features__notice {
      margin-bottom: 0;
    }
  }
}

.features__title {
  margin-bottom: 36px;

  @media (max-width: $screen-sm) {
    font-size: 18px;
    line-height: 120%;
  }
}

.features__number {
  margin-right: 5px;
}

.features__notice {
  margin-bottom: 200px;
  padding-bottom: 57px;
  border-bottom: 1px solid $color-main;
  font-weight: 500;
  font-size: 70px;
  line-height: 105%;
  letter-spacing: -0.07em;

  @media (max-width: $screen-sm) {
    margin-bottom: 84px;
    padding-bottom: 38px;
    font-size: 32px;
    line-height: 120%;
  }
}

.features__image-container {
  position: relative;
  right: -50%;
  display: inline-block;
}

.features__image {
  position: relative;
  left: -50%;
  width: calc(100vw - 0.06vw - 0.07vw);
  max-width: 1249px;
  margin-top: -63px;
  margin-bottom: 159px;
  mix-blend-mode: darken;

  // margin-left: -70px;

  @media (max-width: $screen-sm) {
    width: auto;
    height: 312px;
    margin-top: -12px;
    margin-bottom: 78px;

    // margin-left: -84px;
  }
}

.features__image--bigger {
  margin-top: -38px;
  margin-bottom: 146px;

  @media (max-width: $screen-sm) {
    margin-top: -10px;
    margin-bottom: 78px;
  }
}

.section-submit-sticky {
  position: sticky;
  top: 0;
  padding-top: 24px;
  z-index: $z-index-sticky;

  @media (max-width: $screen-sm) {
    padding-top: 26px;
  }
}

/* FAQ */
.section-faq {
  padding-top: 140px;

  @media (max-width: $screen-sm) {
    padding-top: 134px;
  }
}

.faq {
  padding-right: 157px;

  @media (max-width: $screen-sm) {
    padding-right: 0;
  }
}

.faq__item {
  padding-bottom: 60px;

  @media (max-width: $screen-sm) {
    padding-bottom: 20px;
  }
}

.faq__title {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 101%;

  @media (max-width: $screen-sm) {
    margin-bottom: 32px;
    font-size: 26px;
    line-height: 120%;
  }
}

.faq-questions__item {
  padding-bottom: 48px;

  &.is-active {
    .faq-questions__expand {
      background-color: $color-main;

      &::before,
      &::after {
        transform: none;
        background-color: $color-background;
      }
    }
  }
}

.faq-questions__expand {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid $color-main;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 3px / 2);
    left: calc(50% - 12px / 2);
    width: 12px;
    height: 3px;
    transition: transform 500ms ease;
    background-color: $color-main;
  }

  &::after {
    transform-origin: center;
    transform: rotate(90deg);
  }

  &::before {
    transform: rotate(180deg);
  }
}

.faq-questions__title {
  padding-left: 54px;
  font-size: 32px;
  line-height: 120%;
  font-weight: 500;
  letter-spacing: -0.05em;

  @media (max-width: $screen-sm) {
    font-size: 25px;
  }
}

.faq-questions__panel-content {
  padding-top: 40px;
  padding-bottom: 32px;
  padding-left: 54px;

  @media (max-width: $screen-sm) {
    padding-top: 16px;
    padding-bottom: 30px;
  }
}

.faq-alphabetic {
  margin-left: -54px;
  margin-right: 7%;
}

.faq-alphabetic__item {
  position: relative;
  padding-left: 54px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(1) .faq-alphabetic__id::before {
    content: "A";
  }

  &:nth-child(2) .faq-alphabetic__id::before {
    content: "B";
  }

  &:nth-child(3) .faq-alphabetic__id::before {
    content: "C";
  }

  &:nth-child(4) .faq-alphabetic__id::before {
    content: "D";
  }

  &:nth-child(5) .faq-alphabetic__id::before {
    content: "E";
  }

  &:nth-child(6) .faq-alphabetic__id::before {
    content: "F";
  }
  
  &:nth-child(7) .faq-alphabetic__id::before {
    content: "G";
  }

  &:nth-child(8) .faq-alphabetic__id::before {
    content: "H";
  }
}

.faq-alphabetic__id {
  position: absolute;
  top: 2px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid $color-main;

  &::before {
    content: '';
    margin-right: 1px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
  }
}
