.header__content {
  padding-top: 48px;


  @media (max-width: $screen-sm) {
    padding-top: 28px;
  }
}

.header__logo {
  margin-left: 12px;

  @media (max-width: $screen-sm) {
    width: 70px;
    height: auto;
    margin-left: 0;
  }
}
