$font-main: 'Graphik LCG', sans-serif;
$font-secondary: EditorialNew, sans-serif;

$color-main: #262626;
$color-secondary: #DE5529;
$color-background: #F1F1EC;
$color-white: #FFFFFF;
$color-muted: #F1F1EC;

$transition-duration: 0.3s;
$transition-duration-small: 0.2s;

$screen-xxs: 360px;
$screen-xs: 526px;
$screen-sm: 768px;
$screen-sm-x: 920px;
$screen-md: 1024px;
$screen-md-x: 1158px;
$screen-md-xx: 1230px;
$screen-lg: 1366px;
$screen-xl: 1440px;

$z-index-sticky: 100;
$z-index-form: 200;
