<% var data = {
title: "Apt",
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="main">
  <section class="section container hero grid-main" id="hero">
    <h1 class="hero__title">
      Turn your <span class="hero__title--italic">single-family</span> rental into <span class="hero__title--italic">multifamily</span>
    </h1>
    <p class="hero__notice">Apt takes care of the hassle of building a multifamily home  so you can get higher returns and increase property value.</p>

    <form class="step-form">
      <div class="step-form__step">
        <button type="button" class="step-form-button">
          See if your property&nbsp;qualifies <span class="icon icon-arrow-right"></span>
        </button>
      </div>

      <div class="step-form__step step-form__step--address step-form__step--done">
        <div class="step-form__input step-form__input-address">
          <div class="step-form__input-label">Enter the address</div>
          <input class="step-form__input-input" type="text" value="" placeholder="4427 Tiara St, Van Nuys, California">
        </div>

        <div class="step-form__right">
          <button class="step-form__next" disabled="disabled">
            <span class="icon icon-arrow-right"></span>
          </button>

          <div class="step-form__done">
            <button class="step-form__edit" type="button">Edit</button>
            <span class="icon icon-done"></span>
          </div>
        </div>
      </div>

      <div class="step-form__step step-form__step--info step-form__step--fullfilled">
        <div class="step-form__counter">
          2/3
        </div>

        <div class="step-form__input step-form__input--info">
          <div class="step-form__input-label">Full Name</div>
          <input class="step-form__input-input" type="text" value="" placeholder="Type name">
        </div>

        <div class="step-form__input step-form__input--info">
          <div class="step-form__input-label">Email</div>
          <input class="step-form__input-input" type="email" value="" placeholder="email@com">
        </div>

        <div class="step-form__input step-form__input--info">
          <div class="step-form__input-label">Phone</div>
          <input class="step-form__input-input" type="text" value="" placeholder="9 000 000000">
        </div>

        <button type="button" class="step-form__next" disabled>
          <span class="text">I am the owner of this home</span>
          <span class="icon icon-arrow-right"></span>
        </button>
      </div>

      <div class="step-form__step step-form__step--poll">
        <div class="step-form__counter">
          3/3
        </div>

        <label class="radio step-form__radio--poll">
          <input class="radio__input" type="radio">
          <div class="radio__box"></div>
          <div class="radio__label">I currently live in this home</div>
        </label>

        <label class="radio step-form__radio--poll">
          <input class="radio__input" type="radio">
          <div class="radio__box"></div>
          <div class="radio__label">I currently have rental tenants in this home</div>
        </label>

        <label class="radio step-form__radio--poll">
          <input class="radio__input" type="radio">
          <div class="radio__box"></div>
          <div class="radio__label">This home is vacant</div>
        </label>

        <button type="button" class="step-form-button step-form__see">
          See if your property&nbsp;qualifies <span class="icon icon-arrow-right"></span>
        </button>
      </div>
    </form>
  </section>

  <section class="section section-ill-1">
    <div class="ill-1-container">
      <picture>
        <source srcset="images/ill-1@2x.png 2x, images/ill-1.png 1x" />
        <img src="images/ill-1.png" alt="Illustration" />
      </picture>
    </div>
  </section>

  <section class="section section-features">
    <div class="container">
      <ul class="features">
        <li class="features__item">
          <p class="features__title"><span class="features__number">1.</span>Best use</p>
          <p class="features__notice">Apt designs a multifamily building that maximizes allowed use for your property and takes care of permitting.</p>
        </li>

        <li class="features__item">
          <p class="features__title"><span class="features__number">2.</span>Risk free trial</p>
          <p class="features__notice">We form a joint venture once the permit is approved. While unlikely, there’s no loss for you if the permit’s declined.</p>

          <div class="features__image-container">
            <picture>
              <source srcset="images/ill-2@2x.png 2x, images/ill-2.png 1x" />
              <img class="features__image" src="images/ill-2.png" alt="Illustration 2" />
            </picture>
          </div>
        </li>

        <li class="features__item">
          <p class="features__title"><span class="features__number">3.</span>No extra cost</p>
          <p class="features__notice">Apt covers all upfront costs and secures financing for the project. You contribute the land you already own.</p>
        </li>

        <li class="features__item">
          <p class="features__title"><span class="features__number">4.</span>Effortless construction</p>
          <p class="features__notice">Our team handles the entire process. You don’t have to lift a finger.</p>

          <div class="features__image-container">
            <picture>
              <source srcset="images/ill-2@2x.png 2x, images/ill-2.png 1x" />
              <img class="features__image features__image--bigger" src="images/ill-2.png" alt="Illustration 2" />
            </picture>
          </div>
        </li>

        <li class="features__item">
          <p class="features__title"><span class="features__number">5.</span>Increased value</p>
          <p class="features__notice">You receive an increased cash flow from rentals, refinance, and eventual property sale.</p>
        </li>
      </ul>

    </div>
  </section>

  <section class="section section-submit-sticky">
    <div class="container">
      <button type="button" class="button button--main button-submit">
        See if your property&nbsp;qualifies
        <span class="icon icon-arrow-right"></span>
      </button>
    </div>
  </section>

  <section class="section section-faq">
    <div class="container">

      <ul class="faq">
        <li class="faq__item">
          <p class="faq__title">Process</p>

          <ul class="faq__list faq-questions">
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                How does a typical project happen?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  <ul class="faq-alphabetic">
                    <li class="faq-alphabetic__item">
                      <div class="faq-alphabetic__id"></div>
                      <b>Introduction</b>. First, we learn about your objectives and your property. We can evaluate your unique situation and present a development scenario.
                    </li>

                    <li class="faq-alphabetic__item">
                      <div class="faq-alphabetic__id"></div>
                      <b>Initial Agreement.</b> Once you are comfortable with the proposal, we sign an agreement that covers the period until partnership formation and title transfer.
                    </li>

                    <li class="faq-alphabetic__item">
                      <div class="faq-alphabetic__id"></div>
                      <b>Design and Permitting.</b> Apt invests at-risk capital to complete site surveys, design and permit the new development.
                    </li>

                    <li class="faq-alphabetic__item">
                      <div class="faq-alphabetic__id"></div>
                      <b>Partnership and Title Transfer.</b> Once the project is fully entitled and permitted, we form a joint venture partnership to which you transfer your land.
                    </li>

                    <li class="faq-alphabetic__item">
                      <div class="faq-alphabetic__id"></div>
                      <b>Funding.</b> Apt raises outstanding capital to develop the property.
                    </li>

                    <li class="faq-alphabetic__item">
                      <div class="faq-alphabetic__id"></div>
                      <b>Construction.</b> Apt retains an experienced general contractor and oversees the construction of the building. Apt receives a development fee for successful project completion.
                    </li>

                    <li class="faq-alphabetic__item">
                      <div class="faq-alphabetic__id"></div>
                      <b>Operations.</b> Apt oversees property management and distributes free cash to you, other capital partners, and a share to itself.
                    </li>

                    <li class="faq-alphabetic__item">
                      <div class="faq-alphabetic__id"></div>
                      <b>Sale.</b> Apt coordinates the property sale after an agreed upon hold period.
                    </li>
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                How long does the permitting usually take?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                What is a by-right project?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                Can my neighbors stop the project?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                How long does construction normally take?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                How do I know if it’s legal to build on my property?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
                  </ul>
        </li>

        <li class="faq__item">
          <p class="faq__title">Property</p>

          <ul class="faq__list faq-questions">
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                When would I need to transfer the title of my land?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                What would happen to my existing tenants?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                What would I need to do to permit the building?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                What happens if the permit doesn’t get approved?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                Can I decide when the new building will be sold?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                How do you value my land contribution?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="faq__item">
          <p class="faq__title">You Financials</p>

          <ul class="faq__list faq-questions">
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                What would happen to my existing mortgage?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                What would happen to my rental income during the construction period?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                Would I need to pay more taxes?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                How much more would my property be worth?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                What is a multifamily building?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="faq__item">
          <p class="faq__title">New Building</p>

          <ul class="faq__list faq-questions">
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                When can I see how the new building would look?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                How big would the new building be?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                Can I decide what building you would build?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="faq__item">
          <p class="faq__title">Apt</p>

          <ul class="faq__list faq-questions">
            <li class="faq-questions__item">
              <div class="faq-questions__title">
                <span class="faq-questions__expand"></span>
                How does Apt make money?
              </div>
              <div class="faq-questions__panel">
                <div class="faq-questions__panel-content">
                  The permitting process may vary, in today’s conditions it may take 6 to 9 months for our typical project. You can keep receiving rental income in full while we permit the new building.
                </div>
              </div>
            </li>
          </ul>
        </li>
          </ul>
    </div>
  </section>

</main>

<%= _.template(require('./../includes/footer.html'))(data) %>
